@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-bottom : 20px">@ViewBag.ActionTitle customer</h2>
@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true, "Please correct the invalid fields");
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select your membership type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthdate)
        @Html.TextBoxFor(m => m.Customer.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Birthdate)
    </div>
    <div class="checkbox" style="margin-top : 15px">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Receive updates from our newsletter
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-primary" style="margin-top : 20px">Save</button>

}


@*@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}*@

